/*
  Define your resets here or use something like Normalize.css if you like
 */

html,
body{
  margin: 0;
  padding: 0;
}

blockquote, body, button, dd, dl, figure, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
  margin: 0;
  padding: 0;
}
