<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha256-oSrCnRYXvHG31SBifqP2PM1uje7SJUyX0nTwO2RJV54=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body id="js-body" class="{{ with .Params.hero }}has-hero{{end}}">
    <div class="outer-wrapper">
      {{ block "header" . }}
        {{ partial "header" . }}
      {{end}}

      <main class="site-content" role="main">
        <a id="main-content" tab-index="-1"></a>
        {{ block "main" . }}{{end}}
      </main>


      {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    </div>
    {{ partial "lazy-scripts" . }}
    <script async defer src="app.js"></script>

  </body>
</html>
