{{ define "main" }}

<header class="hero hero--page {{ with .Page.Params.hero }}hero--has-background{{end}}">

  {{ with .Page.Params.hero }}
    <img class="hero__image object-fit" src="{{- .background -}}" class="object-fit" alt="" />
    <div class="hero__triangle" aria-hidden></div>
  {{end}}

  <div class="hero__content-wrap">
    <div class="container">
      <div class="hero__content">
          <h1>{{ .Title }}</h1>
          <p>{{ .Description }}</p>
      </div>
    </div>
  </div>

</header>

<section class="section">
  <div class="container">
    {{ range .Data.Pages }}

      <div class="columns flex-md items-center">
        <div class="column">
          <picture class="service__image-wrap">
            <img class="img-responsive" src="{{ .Params.thumb.src }}" alt="{{ .Params.thumb.alt }}">
          </picture>
        </div>
        <div class="column">
          <article class="content">
            <h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>
            <a href="{{.Permalink}}">Read More</a>
          </article>
        </div>
      </div>

    {{ end }}
  </div>
</section>

{{ end }}
