.work-grid {
  display: grid;

  grid-auto-rows: 18rem;
  @media (--md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.work-item {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.work-item__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-item__content {
  display: block;
  padding: 1rem;
  background: rgba(0,0,0,0.66);
  color: var(--white);
  text-shadow: 0 1px 1px rgba(0,0,0,0.66);
}

.svg--slanted {
  position: absolute;
  top: 3rem;
  height: 7rem;
  width: 100%;
  pointer-events: none;

  @media (--md) {
    height: 15rem;
  }
}
