.site-footer {
  background: var(--dark-gray);
  flex: 0 0 auto;
  padding: 1rem 0;
}

.site-footer__logo {
  display: flex;
  align-items: center;
  transform: translateX(-0.75rem);
}

.site-footer__legal {
  color: #aaaaaa;
  font-size: var(--f7);
}

.site-footer__nav .nav__list {
  margin-left: -1.5625rem;
}

.site-footer__content {
  @media (--md) {
    display: flex;
    align-items: center;
  }
}
