html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;

  &.nav-open {
    overflow-y: hidden;
  }
}

.site-header,
.site-content,
.site-footer {
  width: 100%;
}

.site-footer {
  margin-top: 2rem;
}

.site-content {
  flex: 1 1 auto;

  .nav-open & {
    /* z-index: -1; */
  }
}

.outer-wrapper {
  height: 100%;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  background: var(--white);
  box-shadow:
    0 6px 11px 1px rgba(0,0,0,0.14),
    0 2px 12px 1px rgba(0,0,0,0.12),
    0 4px 5px -3px rgba(0,0,0,0.2);
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.container {
  width: 100%;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);
  margin-right: auto;
  margin-left: auto;

  /* @media (--sm) { max-width: 33em; } */
  /* @media (--md) { max-width: 45em; } */
  @media (--lg) { max-width: var(--container-max-width-lg); }
  @media (--xl) { max-width: var(--container-max-width-xl); }
}

.container--narrow {
  @media (--sm) { max-width: 33em; }
  @media (--md) { max-width: 42.5em; }
}
